html {
    background-color: rgb(39, 20, 6);
    font-size: 20px; 
    font-family: 'Noto Sans', sans-serif;
  }  

body {
border: 5px outset saddlebrown;
background-color: turquoise; 
background-image: 
    linear-gradient(rgba(175, 231, 241, 0.24), rgba(175, 231, 241, 0.9)),
    url(https://ethnomir.ru/upload/medialibrary/34a/baobab.jpg) ; 
background-size: cover;
width: 3100px;
padding: 30px;
}
*{
    box-sizing: border-box;
}
h1{
    text-align:center;
    margin-top: 0px;
    margin-bottom: 40px;
}
header {
    height: 0;
    margin-bottom: 20px;
}
p.fio, p.birthday, p.dates-of-life{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 8px;
}

.male {
    background-color: rgba(100, 152, 243, 0.369); 
}

.female {
    background-color: rgba(250, 187, 134, 0.369); 
}

ul{
    padding: 0 0 ;
    margin: auto;
    white-space: nowrap;
}

ul.outer{
    margin: 20px 0 0 0;
}

li{
    text-align: center;
    list-style-type: none;
    padding: 5px 1px;
    margin: 10px, 0;
    display: inline-block;
    vertical-align: top;
}
img{
    width:50px;
    margin-bottom: 0;
}

.clearfix{
    clear: both;
}

#person-info-holder{
    position: fixed;
    top:10%;
    left: 10%;
    background-color: rgba(188, 175, 81, 0.946);
    z-index: 9999;
}

#person-info {
    height: 80vh;
    width: 40vw;
    z-index: 9999;
}
button#closer {
    position: absolute;
    top: 10px;
    right: -10px;
}

.card-box {
    padding: 0;
    margin: 5px auto;
    width: 72px;
    height: 112px;
    border: 0;
    transform-style: preserve-3d;
}

.person{
    border: 1px solid #ccc;
    margin: 0;
    border-radius: 5px;
    width: 70px;
    height: 110px;
    padding: 0;
    transform: rotateY(0);
    transition-duration: 1s;
    position: relative;
    white-space: normal;
    transform-style: inherit;
}

li div:hover .person{
    transform: rotateY(180deg);
    transition-delay:0.5s;
    transition-duration: 1s
}
.card-front{
    backface-visibility: hidden;
    border:0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
} 

.card-back{
    transform: rotateY(180deg);
    transition-delay:0.5s;
    transition-duration: 1s;
    backface-visibility: hidden;
    border:0;
    position: absolute;
    top: 5px;

} 

 
li div:hover div.male,  li div:hover+ul li div.male {
    background: #87cbfb
}

li div:hover div.female,  li div:hover+ul li div.female {
    background: #fbbb87
}


