html {
    background-color: rgb(39, 20, 6);
    font-size: 20px; 
    font-family: 'Noto Sans', sans-serif;
  }  

h1{text-align:center}

  body {
    margin: 40px auto;
    padding: 20px 30px 20px 30px;
    border: 5px outset saddlebrown;
    background-color: turquoise; 
    background-image: 
      linear-gradient(rgba(175, 231, 241, 0.24), rgba(175, 231, 241, 0.9)),
      url(https://ethnomir.ru/upload/medialibrary/34a/baobab.jpg) ; 
    background-size: cover;
    width: 3100px;
    }
header {
    height: 100px;
    margin-bottom: 20px;
}
p.fio{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 8px;
}

ul{
    padding: 0 0 ;
    margin: auto;
    white-space: nowrap;
}

ul.outer{
    margin: 0;
}

li{
    text-align: center;
    list-style-type: none;
    padding: 5px 1px;
    margin: 10px, 0;
    display: inline-block;
    vertical-align: top;
}
img{
    width:50px;
    margin-bottom: 0;
}

.clearfix{
    clear: both;
}

li div{
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 5px auto;
    border-radius: 5px;
    width: 50px;
    height: 105px;
    white-space: normal;
}
 
#ya{
    transform: rotateY(40deg);
    transition-duration: 1s
} 

#ya:hover{
    transform: rotateY(0);
    transition-duration: 1s
} 
li div:hover,  li div:hover+ul li div {
    background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
 

